<!DOCTYPE html>
<html>
    <head>
        <!-- Fonts -->
        <link rel="stylesheet" href="{{url_for('static', filename='styles/fonts.css')}}">

        <!-- CSS Reset -->
        <link rel="stylesheet" href="{{url_for('static', filename='styles/normalize.css')}}">

        <!-- Milligram CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='styles/milligram.min.css')}}">
        
        <!-- Custom Stylesheet -->
        <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">
    </head>
    <body>
        <div id="wol-text-container">
            <h4>Login</h4>
        </div>

        <form action="/wake" method="post">
            <fieldset>
                <label for="passwordField">Password</label>
                <input type="password" id="passwordField" name="password">
                <input class="button-primary" type="submit" value="Continue">
            </fieldset>
        </form>
     </body>
</html>