<!DOCTYPE html>
<html>
    <head>
        <!-- Fonts -->
        <link rel="stylesheet" href="{{url_for('static', filename='styles/fonts.css')}}">

        <!-- CSS Reset -->
        <link rel="stylesheet" href="{{url_for('static', filename='styles/normalize.css')}}">

        <!-- Milligram CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='styles/milligram.min.css')}}">
        
        <!-- Custom Stylesheet -->
        <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">
    </head>
    <body>
        <div id="wol-text-container">
            <h4>Status</h4>
            {% if status %}
                <h1> {{ status }}</h1>
            {% else %}
                <h1> UNKNOWN </h1>
            {% endif %}
        </div>

        <div id="wol-cta-container">
            <a class="button" href="wake">Send Magic Packet</a>
            <br>
            <a href="ping">send ping</a>
        </div>
        {% if ping_status %}
            {% if ping_status == "success" %}
                <blockquote> Ping successful </blockquote>
            {% endif %}

            {% if ping_status == "fail" %}
                <blockquote> Ping failed </blockquote>
            {% endif %}
        {% endif %}
    </body>
</html>