body {
    width: 65%;
    margin: auto;
    margin-top: 10%;
    text-align: center;
}

#ping-status-success{
    background-color: #00ff7f3d;
}

#ping-status-fail{
    background-color: #ff000057;
}